body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.head{
    display: grid;
    grid-template-columns: 20% 60% 20%;
}
.wrapper, {
    width: 100%;
}
header, nav{
    width: 80%;
    margin: auto;
}

.top-nav .green {
    color: rgb(27, 112, 6);
}
nav#navbar {
    grid-area: navbar;
      
  }
  .shop {
      color: #000;
      padding-left: 25px;
  }
  #category{
      background-color: rgb(27, 112, 6);
     height: 30px;
    padding: 5px 0 0 10px;
    color: #fff;
  }
  .mySlides {
    background-color: #000;
    background-image: url("images/shoe3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    widows: 100%;
    margin-left: 10px;
    margin-top: 10px;
    height: 430px;
    color: #fff;
    opacity: 0.7;

}
.inside{
    margin-top: 200px;
    margin-left: 20px;
}
.now {
    border: 3px solid gold;
    width: 100px;
    padding: 10px;
}
  main#main-doc {
    grid-area: mainConent;
  }
  nav#navbar a {
    display: block;
    border: 0.5px solid #ddd;
    padding: 5px;
    margin: 10px 0;
    padding: 10px;
    text-decoration: none;
    color: black;
    
  }
  .top-nav {
    text-align: end;
    padding-left: 5px;
    border-bottom: 1px solid rgb(206, 201, 201);
    margin-bottom: 10px;
  }
  

  .search {
    position: relative;
    color: #aaa;
    font-size: 16px;
  }
  
  .search input {
    width: 70%;
    height: 32px;
    background: #fcfcfc;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
  }
  button {
      height: 32px;
      background-color: gold;
      border: none;
  }
  .gold {
      color: gold;
      
  }
  
  .search input { text-indent: 32px;}
  .search .fa-search { 
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .container {
    
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;

  }

.menu-container {
    display: grid;
    grid-template-columns: 25% 75%;

}
.products-wrapper {
    width: 100%;
}
.products{
    width: 90%;
    margin: auto;
   
}
.products-header {
    color: #ccc;
    font-size: 15px;
    
}
.nice{
    margin-top: 20px;
}
.products-one {
    
  padding: 10px;
  box-shadow: 3px 3px 3px 3px rgb(194, 189, 189);
  z-index: 5;
    }

.path {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2px;
  
}
.path a {
    text-decoration: none;
}
.btn-cart {
    width: 90%;
}

.first-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   margin-top: 50px;
   margin-bottom: 0;
    width: 100%;
    background: rgba(48, 47, 47, 0.973);
    color: #aaa;
    padding-top: 50px;
}
.footer-one {
    margin: 10px;
    align-content: center;
}

.second-footer {
    background: #000;
    color: #aaa;
    text-align: center;
    margin-top: 0;
    height: 50px;
    padding-top: 20px;
}

ul.social-media li{
    display: inline-block;
    padding: 5px;
    margin-left: 5px;
    border: 1px solid gray;
    border-radius: 50%;
    height: auto;
}

ul {
    list-style: none;
}
li {
    margin-top: 10px;
}

.footer-five ul {
    color: gray;
}

